.progress-bar {
    width: 75%;
    /* margin: 20px 20%; */
    margin: auto;
    background-color: transparent;
    display: block;
    margin-bottom: 15px;
}

.progress-bar .value {
    font-size: 20px;
    text-align: right;
    vertical-align: middle;
    float: right;
    width: 50%;
    display: inline;
}

.progress-bar .label {
    vertical-align: middle;
    text-align: left;
    color: black;
    font-size: 20px;
    /* float: right;
    width: 50%; */
    display: inline;
}

.progress-bar .scale .graduation {
    text-align: center;
}

.progress-bar .bar > div {
    display: inline-block;
    height: 18px;
    border: none;
}

.progress-bar .bar > div:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right-color: transparent;
    -webkit-transition: width .5s linear;
    -o-transition: width .5s linear;
    transition: width .5s linear;
}

.progress-bar .bar > div:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right-color: transparent;
    -webkit-transition: width .5s linear;
    -o-transition: width .5s linear;
    transition: width .5s linear;
}

.progress-bar .legend {
    float: left;
    width: 50%;
    text-align: left;
    /* display: inline; */
}

/* .progress-bar .legend > div {
    display: inline-block;
    margin: 0 5px;
    text-align: left;
} */

/* .progress-bar .legend > div .dot {
    font-size: 25px;
    vertical-align: middle;
} */